<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdventureWorks.Properties.Settings.AdventureWorksLTConnectionString"
            connectionString="Data Source=RU-SOS\SQLEXPRESS;Initial Catalog=AdventureWorksLT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>